---
---

@charset "utf-8";



// Our variables
$title-font-family: "Montserrat", sans-serif;
$base-font-family: "PT Serif", serif, Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #666;
$background-color: #ffffff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$brand-color:      #004876;
$brand-color-light:lighten($brand-color, 5%);
$brand-color-dark: darken($brand-color, 5%);

$teal-color:       #19D3C5;
$teal-color-light: lighten($teal-color, 5%);
$teal-color-dark:  darken($teal-color, 5%);

$tomato-color:      #FF5C35;
$tomato-color-dark: darken($tomato-color, 5%);
$tomato-color-light:lighten($tomato-color, 10%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        1200px;

$main-background-image: url("../assets/img/paper2.jpg");
$blue-background-image: url("/assets/img/backgrounds/blue-background.png");
$tomato-background-image: url("/assets/img/backgrounds/tomato-background.png");
$teal-background-image: url("/assets/img/backgrounds/teal-background.png");

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
