<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <!-- <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul> -->
        <a href="https://twitter.com/myeducatorllc">
            <i class="fab fa-twitter social-link m-2"></i>
        </a>
        <a href="https://www.facebook.com/myeducatorinc/">
            <i class="fab fa-facebook-f social-link m-2"></i>
        </a>
        <a href="https://www.instagram.com/my.educator/">
            <i class="fab fa-instagram social-link m-2"></i>
        </a>
        <a href="https://www.linkedin.com/company/myeducator/">
            <i class="fab fa-linkedin-in social-link m-2"></i>
        </a>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
